[GLPI]
SERVER_URL=http://YOUR_SERVER_IP
USER_TOKEN=YOUR_USER_TOKEN

[APP_TOKENS]
VLAN1=YOUR_APP_TOKEN_VLAN1
VLAN2=YOUR_APP_TOKEN_VLAN2
VLAN100=YOUR_APP_TOKEN_VLAN100
VLAN101=YOUR_APP_TOKEN_VLAN101
LOCALHOST=YOUR_APP_TOKEN_LOCALHOST
